//font color variables

$font-dark: #466D8A;
$font-dark-accent: #C4C4C4;
$font-light: #FFFFFF;

//Color variables

$main-bg: #E5E5E5;
$block-cover-bg-pink: #FAF0EE;
$block-cover-bg-grey: #ECEBF6;
$block-cover-bg-light-grey: #F7FAFC;
$block-bg: #BADA6A;
$modal-bg: #7C9CAC;

$btn-primary-color: #A6CC45;
$btn-primary-active-color: #BADA6A;
$btn-secondary-color: #4DC6E4;

// border colors

$btn-border-color: $font-light;

//other colors

$btn-cross-color: $font-light;